header {
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 1;
    min-height: 60px;
    background-color: #ffffff;
    width: 100%;
    display: flex;
    padding: 0px 40px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);

}

header>h1 {
    font-size: 28px;
    font-weight: 700;
    color: rgb(7, 127, 255);
}

header>nav {
    width: 40%;
}

header>nav>ul {
    display: flex;
    /* gap: 40px; */
    width: 100%;
    justify-content: space-between;
    list-style-type: none;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

header>#btns {
    width: 10%;
}

header>#btns>button {
    width: 100%;
    height: 25px;
    border-radius: 20px;
    border: none;
    background-color: rgb(33, 33, 249);
    color: white;
    cursor: pointer;
}

header>#btns>button:hover {
    background-color: rgb(1, 1, 170);
}

#mobile-nav {
    display: none;
    align-items: center;
}

.menu-btn {
    font-size: 22px;
}

#mobile-nav-container{
    background-color: #fff;
    display: none;
    position: sticky;
    width: 100vw;
    z-index: 1;
    top: 61px;
    box-shadow: 0px -1px 1px rgba(0,0,0,0.9);
    padding: 20px 40px;

    & >ul{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 15px;
    }

    & >#mobile-nav-btn>button{
        width: 30%;
        background-color: rgb(0, 98, 255);
        color: white;
        cursor: pointer;
        border: none;
        border-radius: 2px;
    }
}

@media (width<=850px) {
    header>nav {
        display: none;
    }

    #btns {
        display: none;
    }

    header>h1 {
        font-size: 22px;
    }

    #mobile-nav {
        display: flex;
    }

    #mobile-nav-container{
        display: block;
    }
}